{% load static %}
<head>
  <!--<style>
    .user{
      color:white;
      text-decoration: none;
    }
  </style>-->
</head>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
    
      
    </div>-->
   
  <!--</nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
   {% load static %}

  <a class="navbar-brand" href="#">
    <img src="{% static 'logo.png' %}" alt="" width="40" height="40">
  </a>




    <!--<nav class="p-3 mb-2 bg-transparent text-dark">-->
    <div class="container-fluid "  style="font-family: 'Times New Roman', Times, serif;">
      <a class="navbar-brand text-white " href="#">Online Job Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active  text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#"> Latest Jobs</a>
          </li>
           <li class="nav-item">
            <a class="nav-link  text-white" href="#">Contect Us </a>
          </li>
          
          </div>
          
    </div>
    {% if request.user.is_authenticated %}
          <span class="user">Hello, {{request.user}}  &nbsp;</span>
          <span ><a  class="user btn btn-info" href ="{% url 'logout' %}"> Logout</a></span>
          {% else %}
              <span ><a class="user btn btn-primary mx-3 " href="{% url 'login' %}">Login</a></span>
              <span ><a class="user btn btn-success" href="{% url 'register' %}">Register</a></span>
          {% endif  %}
  </nav>